.u-section-1 .u-sheet-1 {
  min-height: 591px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 20px auto 0 473px;
}

.u-section-1 .u-slider-1 {
  width: 401px;
  min-height: 478px;
  height: auto;
  margin: 21px auto 0 61px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-1 {
  background-image: url("images/y0aK-wTi0u4.jpg");
  background-position: 50% 39.76%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/0_BDpzy-8XE.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/6SJWQl8uz48.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/ddwq2CnvdNk.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-1 .u-image-5 {
  background-image: url("images/f5Z9ZaxBfs8.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-1 .u-image-6 {
  background-image: url("images/gLsX4crl0bE.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-1 .u-image-7 {
  background-image: url("images/h1SK3UgSez4.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-1 .u-image-8 {
  background-image: url("images/jhzP6mxfFXs.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-1 .u-image-9 {
  background-image: url("images/fmsUp-Ic1Cs.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 50px;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

.u-section-1 .u-slider-2 {
  width: 401px;
  min-height: 478px;
  height: auto;
  margin: -478px 61px 20px auto;
}

.u-section-1 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-10 {
  background-image: url("images/KCBNeYVw54E.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 60px;
}

.u-section-1 .u-image-11 {
  background-image: url("images/lYBSGJhLKjI.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 60px;
}

.u-section-1 .u-image-12 {
  background-image: url("images/NlXxwsN41bY.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 50px;
}

.u-section-1 .u-image-13 {
  background-image: url("images/T-fJ3F6fClk.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 50px;
}

.u-section-1 .u-image-14 {
  background-image: url("images/uJ3Usx1Pb8Y.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px 50px;
}

.u-section-1 .u-image-15 {
  background-image: url("images/VlNJtLzRWNw.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px 50px;
}

.u-section-1 .u-image-16 {
  background-image: url("images/XmwsETt8zDM.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px 50px;
}

.u-section-1 .u-image-17 {
  background-image: url("images/xtTD2OdpwWU.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-17 {
  padding: 30px 50px;
}

.u-section-1 .u-image-18 {
  background-image: url("images/DxU7vxBIT0M.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-18 {
  padding: 30px 50px;
}

.u-section-1 .u-carousel-control-3 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-4 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 299px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 473px;
  }

  .u-section-1 .u-slider-1 {
    margin-left: 361px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-slider-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 509px;
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
    margin-left: 400px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 513px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 19px;
  position: relative;
}

.u-section-2 .u-image-1 {
  min-height: 400px;
  background-image: url("images/IMG_20230213_125531_240.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 455px;
  margin: 0 auto;
}

.u-section-2 .u-image-2 {
  min-height: 400px;
  background-image: url("images/vdG3ZmF4ny8.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 0 58px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-2 .u-image-1 {
    min-height: 330px;
  }

  .u-section-2 .u-image-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-2 .u-image-1 {
    min-height: 253px;
  }

  .u-section-2 .u-text-2 {
    width: 360px;
  }

  .u-section-2 .u-image-2 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-2 .u-image-1 {
    min-height: 380px;
  }

  .u-section-2 .u-image-2 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-2 .u-image-1 {
    min-height: 239px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    min-height: 239px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1367px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 1235px;
  margin: 30px auto;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1302px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 1170px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 737px;
  }
}